.cover__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: white;
    z-index: 1;
    max-width: 360px;
    margin: 32 auto 0 auto;
}