.footer__link {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 0;
}

@media screen and (max-width:767px) {
    .footer__link {
        flex-direction: column;
    }
}