.cover {
    display: flex;
    margin: auto;
    width: 1184px;
    height: 740px;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width:1024px) and (max-width:1279px) {
    .cover {
        width: 1024px;
        height: 640px;
    }    
}