/*.cover__overlay {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    align-content: center;
    align-items: center;
    background-size: cover;
}

.cover__overlay::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2A2C2F;
    opacity: 0.3;
}

.cover__overlay:hover::before {
    opacity: 0.8;
    transition: opacity 0.4s ease;
}
*/
.cover__overlay {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url(../../../sprint-3-images/sprint-3-images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.cover__overlay::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2A2C2F;
    opacity: 0.3;
}

.cover__overlay:hover::before {
    opacity: 0.8;
    transition: opacity 0.4s ease;
}