.cover__background {
    background-image: url(/sprint-3-images/sprint-3-images/cover-trains.jpg);
    position: relative;
    margin-bottom: 92px;
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .cover__background {
        margin-bottom: 88px;
    }
}
