.place__website {
    margin-bottom: 48px;
    align-self: flex-end;
}

@media screen and (max-width:767px) {
    .place__website {
        align-self: flex-start;
        margin-bottom: 32px;
    }
}
